{% extends 'base.html' %}

{% block content %}
    <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none xl:order-last">
        {% block account_content %}
        {% endblock account_content %}
    </main>
    <aside class="hidden xl:order-first xl:flex xl:flex-col flex-shrink-0 w-96 p-4">
        <div class="pb-6">
            <form class="mt-6 flex space-x-4" action="#">
                <div class="flex-1 min-w-0">
                    <label for="search" class="sr-only">Search</label>
                    <div class="relative rounded-md shadow-sm">
                        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                            <!-- Heroicon name: solid/search -->
                            <svg class="h-5 w-5 text-gray-900 dark:text-gray-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                            </svg>
                        </div>
                        <input type="search" name="search" id="search" class="bg-white dark:bg-black text-gray-900 dark:text-gray-100 border border-white dark:border-black w-full pl-10 text-sm rounded-lg shadow-lg" placeholder="Search">
                    </div>
                </div>
            </form>
        </div>
        <!-- Directory list -->
        <div class="flex-1 min-h-0 overflow-y-auto rounded-xl bg-white dark:bg-black shadow-lg" aria-label="Directory">
            <div class="relative">
                <ul class="relative z-0 divide-y divide-gray-200">
                    {% for account in accounts %}
                        <a href="{% url 'accounts:account-detail' account.username %}">
                            <li class="transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 p-4 flex hover:bg-gray-100 dark:hover:bg-gray-900{% if account.username in request.path %} bg-gray-100 dark:bg-gray-900{% endif %}">
                                <img class="h-10 w-10 rounded-full object-cover" src="{{ account.profile.profile_picture.url }}">
                                <div class="ml-3">
                                    <p class="text-sm font-medium text-gray-900 dark:text-gray-100">{{ account.get_full_name }}</p>
                                    <p class="text-sm text-gray-500">{{ account.email_address }}</p>
                                </div>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </aside>
{% endblock content %}
