{% load static %}

<nav class="bg-primary-900">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
                <form method="GET" action="{% url 'projects:project-list' %}" class="relative flex items-center">
                    <input type="text" name="search" id="search" placeholder="Search" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full pr-12 sm:text-sm border-gray-300 rounded-l-md">
                    <button class="-ml-px relative inline-flex items-center space-x-2 px-4 py-2 border border-gray-300 text-sm font-medium rounded-r-md text-gray-700 bg-gray-50 hover:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
                        {% include 'icons/heroicons/outline/search-circle.html' with height="h-5" width="w-5" view_box="0 0 24 24" %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</nav>
